* {
  font-family: 'Lato', sans-serif;
}

.citydiv {
  display: flex;
  justify-content: space-between;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.infolist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subelement {
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 1rem;
}

.backlink {
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.topbar {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  margin-left: 120px;
  font-size: 1rem;
}
