* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.citydiv {
  display: flex;
  justify-content: space-between;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.infolist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subelement {
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 1rem;
}

.backlink {
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  position: absolute;
}

.topbar {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
}

h1 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

h2 {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

h2 > p {
  margin-bottom: 0;
}
